/* CSS for resume */

html {background-color: #89D5D2}

a:link {
  color: #6945D6;
}

a:visited {
  color: #8A583D; 
}

a:hover {
  color: #D6A29F;
}

a:active {
  color: blue;
}

#title {
	text-align: left;
	font-family: 'Dancing Script', serif;
}

#contact {
	text-align: left;
	font-family: 'Dancing Script', serif;
}

#contactinfo {
	text-align: left;
	font-family:'Roboto Condensed', sans-serif;
}

#carson img {
  	border-radius: 50%;
}

#skills {
	font-family: 'Dancing Script', serif;
}

#skillsinfo {
	font-family:'Roboto Condensed', sans-serif;
}

#education {
	font-family: 'Dancing Script', serif;
}

#educationinfo {
	font-family: 'Roboto Condensed', sans-serif;
}

#experience {
	font-family: 'Dancing Script', serif;
}

#experienceinfo {
	font-family: 'Roboto Condensed', sans-serif;
}

#table {
	text-align: left;
	font-family: 'Dancing Script', serif;
}

#tableinfo {
	font-family: 'Roboto Condensed', sans-serif;
}