/* CSS for resume */

html {
	background: url(honeycomb.png);
	background-color: #89D5D2;
}

a:link {
  color: #fff;
}

a:visited {
  color: #228B22; 
}

a:hover {
  color: #ab88d5;
}

a:active {
  color: #1a4b49;
}

a[href^="mailto:polkcb@dukes.jmu.edu"]:link {
  color: #fff;
}

a[href^="mailto:polkcb@dukes.jmu.edu"]:visited {
  color: #228B22; 
}

a[href^="mailto:polkcb@dukes.jmu.edu"]:hover {
  color: #ab88d5;
}

a[href^="mailto:polkcb@dukes.jmu.edu"]:active {
  color: #1a4b49;
}

ul {
  list-style-image: url('drumstick.png');
}

table, tr, td {
  border: 3px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

#title {
	text-align: left;
	font-family: 'Dancing Script', serif;
	font-size: 25px;
	margin-left: 500px;
}

#contact {
	text-align: left;
	font-family: 'Dancing Script', serif;
	font-size: 25px;
	text-decoration: underline;
	margin-left: 370px;
	margin-top: 75px;
}

#contactinfo {
	text-align: left;
	font-family:'Roboto Condensed', sans-serif;
	font-size: 18px;
	line-height: 180%;
	margin-left: 370px;
}

#carson img {
  	border-radius: 50%;
  	margin-left: 350px;
  	margin-top: -200px;
 }

#skills {
	text-align: left;
	font-family: 'Dancing Script', serif;
	font-size: 25px;
	text-decoration: underline;
	margin-left: 100px;
}

#skillsinfo {
	text-align: left;
	font-family:'Roboto Condensed', sans-serif;
	font-size: 18px;
	letter-spacing: 1.5px;
	margin-left: 100px;
}

#education {
	font-family: 'Dancing Script', serif;
	font-size: 25px;
	text-decoration: underline;
	margin-left: 925px;
	margin-top: -275px;
}

#educationinfo {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	letter-spacing: 1.5px;
	margin-left: 925px;
	margin-top: 0px;
}

#experience {
	font-family: 'Dancing Script', serif;
	font-size: 25px;
	text-decoration: underline;
	margin-left: 100px;
	margin-top: 100px;
}

#experienceinfo {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	letter-spacing: 1.5px;
	margin-left: 100px;
}

#table {
	text-align: left;
	font-family: 'Dancing Script', serif;
	font-size: 25px;
	text-decoration: underline;
	margin-left: 925px;
	margin-top: -675px;
}

#tableinfo {
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	letter-spacing: 1.5px;
	margin-left: 925px;
	margin-top: 0px;
}