/* ADD YOUR CUSTOM CSS TO THIS FILE */

.container {
	border: 3px solid black;
}

.col-md-7 {
	background: url(honeycomb.png);
	background-color: #3C738B;
	color: white;
	font-family: "Roboto Condensed", serif;
}

.col-md-3 {
	background: url(honeycomb.png);
	background-color: #3C738B;
}

.col-md-2 {
	background: url(honeycomb.png);
	background-color: #3C738B;
}

.col-md-6 {
	background-color: #F4EFE1;
	font-family: "Roboto Condensed", serif;
}
	
.cpicon {
	margin-left: 50px;
	width: 25%;
}

.card {
	font-family: "Roboto Condensed", serif;
	background: url(honeycomb.png);
	background-color: #F4EFE1;
	text-align: center;
}

img {
	margin-left: 31.5px;
}

/* unvisited link */
a:link {
  color: lightsalmon;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}

h2, h3, h4, h5 {
	font-family: "Dancing Script", serif;
}

#textbox1 {
	text-align: left;
}

#textbox2 {
	text-align: center;
}

#textbox3 {
	text-align: right;
}